<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>processor</key>
    <dict>
        <key>cpu_power</key>
        <real>4200</real>
        <key>gpu_power</key>
        <real>1300</real>
        <key>combined_power</key>
        <real>6100</real>
        <key>clusters</key>
        <array>
            <dict>
                <key>name</key>
                <string>E-Cluster</string>
                <key>freq_hz</key>
                <real>2060000000</real>
                <key>cpus</key>
                <array>
                    <dict>
                        <key>idle_ratio</key>
                        <real>0.20</real>
                        <key>down_ratio</key>
                        <real>0.05</real>
                    </dict>
                    <dict>
                        <key>idle_ratio</key>
                        <real>0.40</real>
                        <key>down_ratio</key>
                        <real>0.10</real>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>name</key>
                <string>P-Cluster</string>
                <key>freq_hz</key>
                <real>3480000000</real>
                <key>cpus</key>
                <array>
                    <dict>
                        <key>idle_ratio</key>
                        <real>0.10</real>
                        <key>down_ratio</key>
                        <real>0.00</real>
                    </dict>
                    <dict>
                        <key>idle_ratio</key>
                        <real>0.35</real>
                        <key>down_ratio</key>
                        <real>0.05</real>
                    </dict>
                    <dict>
                        <key>idle_ratio</key>
                        <real>0.15</real>
                        <key>down_ratio</key>
                        <real>0.10</real>
                    </dict>
                    <dict>
                        <key>idle_ratio</key>
                        <real>0.55</real>
                        <key>down_ratio</key>
                        <real>0.00</real>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
</dict>
</plist>
